.idea/
.vscode/
.mypy_cache/
.nox/
.pytest_cache/
.ruff_cache/
.venv/
.env
.env.*
.env.local
.venv/
venv/
node_modules/
coverage/
htmlcov/
site/
dist/
build/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.coverage
.coverage.*
.pytype/
/.ipynb_checkpoints/
*.sqlite3
*.db
*.log
*.tmp
*.swp
*.swo
.DS_Store
Thumbs.db
/mlruns/
